.Navbar {
  background-color: rgb(21, 107, 221);
  height: 100px;
}

.link {
  text-decoration: none;
  color: white;
}

.lista {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  font-size: 13px;
  position: relative;
  right: 25px;
}
.homeLista {
  position: relative;
  right: 40px;
  bottom: 17px;
}
.contatoLista {
  position: relative; 
  bottom: 17px;

 }
 .qmSomosLista {
  position: relative;
  left: 40px;
  bottom: 17px;
 }

 .logoSenai {
  position: relative;
  left: 858px;
  top: 10px;

 }