.titulo {
    display: flex;
    justify-content: center;
}

.subtitulo {
    display: flex;
    justify-content: center;
}

.sub {
    font-size: 20px;
}

.container {
    display: flex;
    position: relative;
    right: 300px;
}

.imagensHome {
    text-align: center;
    padding: 0px 20px;
    height: 380px;
    width: 180px;
    position: relative;
    left: 200px;
  }

.Tmonica {
    position: relative;
    left: 390px;
    height: 380px;
    width: 180px;
    top: 30px;
    
}

.foveiras {
    position: relative;
    left: 390px;
    height: 380px;
    width: 180px;
    top: 30px;
}

.operadoras {
    position: relative;
    left: 390px;
    height: 380px;
    width: 180px;
    top: 30px;
}

.tigrinho {
    position: relative;
    left: 390px;
    height: 380px;
    width: 180px;
    top: 30px;
}

.dolly {
    position: relative;
    left: 390px;
    height: 380px;
    width: 180px;
    top: 30px;
}
.turma {
    position: relative;
    left: 390px;
    height: 380px;
    width: 180px;
    top: 30px;
}

.subImagem {
    font-weight: bold;
    font-size: 20px;
    color: rgb(10, 99, 216);
    position: relative;
    top: 400px;
    left: 210px;
}
